<div class="container">
  <div class="row">
    <div class="col-sm-4 d-flex align-items-stretch py-2"   *ngFor="let course of courses">
      <div class="card" style="width: 19rm;" >
        <img
          [src]="'data:image/jpeg;base64,' + course?.image"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h2 class="card-title">
            {{ course.trainingName }}
            <small
              ><a
                style="font-size: smaller;"
                [href]="'assets/files/' + course.user.id + '.pdf'"
              >
                by {{ course.user.name }}</a
              ></small
            >
          </h2>
  
          <p class="card-text my-4" style="overflow: hidden;">{{ course.description }}</p>
          <p style="color: blueviolet;">
            <i class="far fa-clock"></i> Starts : {{ course.startdate }}
          </p>
          <div class="row">
            <div class="col-sm-4">
              <button
                (click)="startCourse(course.id)"
                [attr.disabled]="course.started == 1 ? true : null"
                class="btn btn-lg btn-success"
              >
                Lancer
              </button>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-4">
              <div
                (click)="delete(course.id)"
                class="btn btn-lg btn-danger"
                style="width: 100px;"
              >
                Delete
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>